/*****************STYLING IS DONE FOR RS SOCIAL BOX *******************/
/***********FACEBOOK LIKE ,TWITTER SHARE, GPLUS SHARE*****************/

/*.rs_share{
	float:left;
	width:800px;
	overflow:hidden;
}
.rs_fb_share{
	float:left;
	width:150px;
	height:50px;
	overflow:hidden;
}
.rs_tweet_share{
	float:left;
	width:150px;
	overflow:hidden;
}
.rs_gplus_share{
	float:left;
	width:200px;
	overflow:hidden;
}
.rs_image_download{
	float:left;
	width:100px;
}*/
.fb-share-button
{
transform: scale(1.5);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
-moz-transform: scale(1.5);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}

